<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.mirrorming.blog.mapper.generate.MovieMapper">
  <resultMap id="BaseResultMap" type="cn.mirrorming.blog.domain.po.Movie">
    <!--@Table movie-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="coverUrl" property="coverurl" />
    <result column="screenshot" property="screenshot" />
    <result column="translatedName" property="translatedname" />
    <result column="title" property="title" />
    <result column="year" property="year" />
    <result column="origin" property="origin" />
    <result column="category" property="category" />
    <result column="releaseDate" property="releasedate" />
    <result column="score" property="score" />
    <result column="duration" property="duration" />
    <result column="director" property="director" />
    <result column="actor" property="actor" />
    <result column="description" property="description" />
    <result column="downloadUrl" property="downloadurl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
    releaseDate, score, duration, director, actor, description, downloadUrl
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    update movie
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.name}
        </foreach>
      </trim>
      <trim prefix="coverUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.coverurl}
        </foreach>
      </trim>
      <trim prefix="screenshot = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.screenshot}
        </foreach>
      </trim>
      <trim prefix="translatedName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.translatedname}
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.title}
        </foreach>
      </trim>
      <trim prefix="`year` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.year}
        </foreach>
      </trim>
      <trim prefix="origin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.origin}
        </foreach>
      </trim>
      <trim prefix="category = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.category}
        </foreach>
      </trim>
      <trim prefix="releaseDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.releasedate}
        </foreach>
      </trim>
      <trim prefix="score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.score}
        </foreach>
      </trim>
      <trim prefix="duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.duration}
        </foreach>
      </trim>
      <trim prefix="director = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.director}
        </foreach>
      </trim>
      <trim prefix="actor = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.actor}
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.description}
        </foreach>
      </trim>
      <trim prefix="downloadUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.downloadurl}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    update movie
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id} then #{item.name}
          </if>
        </foreach>
      </trim>
      <trim prefix="coverUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.coverurl != null">
            when id = #{item.id} then #{item.coverurl}
          </if>
        </foreach>
      </trim>
      <trim prefix="screenshot = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.screenshot != null">
            when id = #{item.id} then #{item.screenshot}
          </if>
        </foreach>
      </trim>
      <trim prefix="translatedName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.translatedname != null">
            when id = #{item.id} then #{item.translatedname}
          </if>
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.title != null">
            when id = #{item.id} then #{item.title}
          </if>
        </foreach>
      </trim>
      <trim prefix="`year` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.year != null">
            when id = #{item.id} then #{item.year}
          </if>
        </foreach>
      </trim>
      <trim prefix="origin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.origin != null">
            when id = #{item.id} then #{item.origin}
          </if>
        </foreach>
      </trim>
      <trim prefix="category = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.category != null">
            when id = #{item.id} then #{item.category}
          </if>
        </foreach>
      </trim>
      <trim prefix="releaseDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.releasedate != null">
            when id = #{item.id} then #{item.releasedate}
          </if>
        </foreach>
      </trim>
      <trim prefix="score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.score != null">
            when id = #{item.id} then #{item.score}
          </if>
        </foreach>
      </trim>
      <trim prefix="duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.duration != null">
            when id = #{item.id} then #{item.duration}
          </if>
        </foreach>
      </trim>
      <trim prefix="director = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.director != null">
            when id = #{item.id} then #{item.director}
          </if>
        </foreach>
      </trim>
      <trim prefix="actor = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.actor != null">
            when id = #{item.id} then #{item.actor}
          </if>
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.description != null">
            when id = #{item.id} then #{item.description}
          </if>
        </foreach>
      </trim>
      <trim prefix="downloadUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.downloadurl != null">
            when id = #{item.id} then #{item.downloadurl}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    insert into movie
    (id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
      releaseDate, score, duration, director, actor, description, downloadUrl)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.name}, #{item.coverurl}, #{item.screenshot}, #{item.translatedname}, 
        #{item.title}, #{item.year}, #{item.origin}, #{item.category}, #{item.releasedate}, 
        #{item.score}, #{item.duration}, #{item.director}, #{item.actor}, #{item.description}, 
        #{item.downloadurl})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="cn.mirrorming.blog.domain.po.Movie">
    insert into movie
    (id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
      releaseDate, score, duration, director, actor, description, downloadUrl)
    values
    (#{id}, #{name}, #{coverurl}, #{screenshot}, #{translatedname}, #{title}, #{year}, 
      #{origin}, #{category}, #{releasedate}, #{score}, #{duration}, #{director}, #{actor}, 
      #{description}, #{downloadurl})
    on duplicate key update 
    id = #{id}, 
    `name` = #{name}, 
    coverUrl = #{coverurl}, 
    screenshot = #{screenshot}, 
    translatedName = #{translatedname}, 
    title = #{title}, 
    `year` = #{year}, 
    origin = #{origin}, 
    category = #{category}, 
    releaseDate = #{releasedate}, 
    score = #{score}, 
    duration = #{duration}, 
    director = #{director}, 
    actor = #{actor}, 
    description = #{description}, 
    downloadUrl = #{downloadurl}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="cn.mirrorming.blog.domain.po.Movie">
    insert into movie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="coverurl != null">
        coverUrl,
      </if>
      <if test="screenshot != null">
        screenshot,
      </if>
      <if test="translatedname != null">
        translatedName,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="year != null">
        `year`,
      </if>
      <if test="origin != null">
        origin,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="releasedate != null">
        releaseDate,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="downloadurl != null">
        downloadUrl,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="coverurl != null">
        #{coverurl},
      </if>
      <if test="screenshot != null">
        #{screenshot},
      </if>
      <if test="translatedname != null">
        #{translatedname},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="year != null">
        #{year},
      </if>
      <if test="origin != null">
        #{origin},
      </if>
      <if test="category != null">
        #{category},
      </if>
      <if test="releasedate != null">
        #{releasedate},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="duration != null">
        #{duration},
      </if>
      <if test="director != null">
        #{director},
      </if>
      <if test="actor != null">
        #{actor},
      </if>
      <if test="description != null">
        #{description},
      </if>
      <if test="downloadurl != null">
        #{downloadurl},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="coverurl != null">
        coverUrl = #{coverurl},
      </if>
      <if test="screenshot != null">
        screenshot = #{screenshot},
      </if>
      <if test="translatedname != null">
        translatedName = #{translatedname},
      </if>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="year != null">
        `year` = #{year},
      </if>
      <if test="origin != null">
        origin = #{origin},
      </if>
      <if test="category != null">
        category = #{category},
      </if>
      <if test="releasedate != null">
        releaseDate = #{releasedate},
      </if>
      <if test="score != null">
        score = #{score},
      </if>
      <if test="duration != null">
        duration = #{duration},
      </if>
      <if test="director != null">
        director = #{director},
      </if>
      <if test="actor != null">
        actor = #{actor},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <if test="downloadurl != null">
        downloadUrl = #{downloadurl},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="cn.mirrorming.blog.domain.po.Movie">
    <!--@Table esMovie-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="coverUrl" property="coverurl" />
    <result column="screenshot" property="screenshot" />
    <result column="translatedName" property="translatedname" />
    <result column="title" property="title" />
    <result column="year" property="year" />
    <result column="origin" property="origin" />
    <result column="category" property="category" />
    <result column="releaseDate" property="releasedate" />
    <result column="score" property="score" />
    <result column="duration" property="duration" />
    <result column="director" property="director" />
    <result column="actor" property="actor" />
    <result column="description" property="description" />
    <result column="downloadUrl" property="downloadurl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
    releaseDate, score, duration, director, actor, description, downloadUrl
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    update esMovie
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.name}
        </foreach>
      </trim>
      <trim prefix="coverUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.coverurl}
        </foreach>
      </trim>
      <trim prefix="screenshot = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.screenshot}
        </foreach>
      </trim>
      <trim prefix="translatedName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.translatedname}
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.title}
        </foreach>
      </trim>
      <trim prefix="`year` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.year}
        </foreach>
      </trim>
      <trim prefix="origin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.origin}
        </foreach>
      </trim>
      <trim prefix="category = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.category}
        </foreach>
      </trim>
      <trim prefix="releaseDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.releasedate}
        </foreach>
      </trim>
      <trim prefix="score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.score}
        </foreach>
      </trim>
      <trim prefix="duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.duration}
        </foreach>
      </trim>
      <trim prefix="director = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.director}
        </foreach>
      </trim>
      <trim prefix="actor = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.actor}
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.description}
        </foreach>
      </trim>
      <trim prefix="downloadUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.downloadurl}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    update esMovie
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id} then #{item.name}
          </if>
        </foreach>
      </trim>
      <trim prefix="coverUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.coverurl != null">
            when id = #{item.id} then #{item.coverurl}
          </if>
        </foreach>
      </trim>
      <trim prefix="screenshot = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.screenshot != null">
            when id = #{item.id} then #{item.screenshot}
          </if>
        </foreach>
      </trim>
      <trim prefix="translatedName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.translatedname != null">
            when id = #{item.id} then #{item.translatedname}
          </if>
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.title != null">
            when id = #{item.id} then #{item.title}
          </if>
        </foreach>
      </trim>
      <trim prefix="`year` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.year != null">
            when id = #{item.id} then #{item.year}
          </if>
        </foreach>
      </trim>
      <trim prefix="origin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.origin != null">
            when id = #{item.id} then #{item.origin}
          </if>
        </foreach>
      </trim>
      <trim prefix="category = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.category != null">
            when id = #{item.id} then #{item.category}
          </if>
        </foreach>
      </trim>
      <trim prefix="releaseDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.releasedate != null">
            when id = #{item.id} then #{item.releasedate}
          </if>
        </foreach>
      </trim>
      <trim prefix="score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.score != null">
            when id = #{item.id} then #{item.score}
          </if>
        </foreach>
      </trim>
      <trim prefix="duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.duration != null">
            when id = #{item.id} then #{item.duration}
          </if>
        </foreach>
      </trim>
      <trim prefix="director = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.director != null">
            when id = #{item.id} then #{item.director}
          </if>
        </foreach>
      </trim>
      <trim prefix="actor = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.actor != null">
            when id = #{item.id} then #{item.actor}
          </if>
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.description != null">
            when id = #{item.id} then #{item.description}
          </if>
        </foreach>
      </trim>
      <trim prefix="downloadUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.downloadurl != null">
            when id = #{item.id} then #{item.downloadurl}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    insert into esMovie
    (id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
      releaseDate, score, duration, director, actor, description, downloadUrl)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.name}, #{item.coverurl}, #{item.screenshot}, #{item.translatedname}, 
        #{item.title}, #{item.year}, #{item.origin}, #{item.category}, #{item.releasedate}, 
        #{item.score}, #{item.duration}, #{item.director}, #{item.actor}, #{item.description}, 
        #{item.downloadurl})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="cn.mirrorming.blog.domain.po.Movie">
    insert into esMovie
    (id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
      releaseDate, score, duration, director, actor, description, downloadUrl)
    values
    (#{id}, #{name}, #{coverurl}, #{screenshot}, #{translatedname}, #{title}, #{year}, 
      #{origin}, #{category}, #{releasedate}, #{score}, #{duration}, #{director}, #{actor}, 
      #{description}, #{downloadurl})
    on duplicate key update 
    id = #{id}, 
    `name` = #{name}, 
    coverUrl = #{coverurl}, 
    screenshot = #{screenshot}, 
    translatedName = #{translatedname}, 
    title = #{title}, 
    `year` = #{year}, 
    origin = #{origin}, 
    category = #{category}, 
    releaseDate = #{releasedate}, 
    score = #{score}, 
    duration = #{duration}, 
    director = #{director}, 
    actor = #{actor}, 
    description = #{description}, 
    downloadUrl = #{downloadurl}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="cn.mirrorming.blog.domain.po.Movie">
    insert into esMovie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="coverurl != null">
        coverUrl,
      </if>
      <if test="screenshot != null">
        screenshot,
      </if>
      <if test="translatedname != null">
        translatedName,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="year != null">
        `year`,
      </if>
      <if test="origin != null">
        origin,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="releasedate != null">
        releaseDate,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="downloadurl != null">
        downloadUrl,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="coverurl != null">
        #{coverurl},
      </if>
      <if test="screenshot != null">
        #{screenshot},
      </if>
      <if test="translatedname != null">
        #{translatedname},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="year != null">
        #{year},
      </if>
      <if test="origin != null">
        #{origin},
      </if>
      <if test="category != null">
        #{category},
      </if>
      <if test="releasedate != null">
        #{releasedate},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="duration != null">
        #{duration},
      </if>
      <if test="director != null">
        #{director},
      </if>
      <if test="actor != null">
        #{actor},
      </if>
      <if test="description != null">
        #{description},
      </if>
      <if test="downloadurl != null">
        #{downloadurl},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="coverurl != null">
        coverUrl = #{coverurl},
      </if>
      <if test="screenshot != null">
        screenshot = #{screenshot},
      </if>
      <if test="translatedname != null">
        translatedName = #{translatedname},
      </if>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="year != null">
        `year` = #{year},
      </if>
      <if test="origin != null">
        origin = #{origin},
      </if>
      <if test="category != null">
        category = #{category},
      </if>
      <if test="releasedate != null">
        releaseDate = #{releasedate},
      </if>
      <if test="score != null">
        score = #{score},
      </if>
      <if test="duration != null">
        duration = #{duration},
      </if>
      <if test="director != null">
        director = #{director},
      </if>
      <if test="actor != null">
        actor = #{actor},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <if test="downloadurl != null">
        downloadUrl = #{downloadurl},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="cn.mirrorming.blog.domain.po.Movie">
    <!--@Table esMovie-->
    <id column="id" property="id" />
    <result column="name" property="name" />
    <result column="coverUrl" property="coverurl" />
    <result column="screenshot" property="screenshot" />
    <result column="translatedName" property="translatedname" />
    <result column="title" property="title" />
    <result column="year" property="year" />
    <result column="origin" property="origin" />
    <result column="category" property="category" />
    <result column="releaseDate" property="releasedate" />
    <result column="score" property="score" />
    <result column="duration" property="duration" />
    <result column="director" property="director" />
    <result column="actor" property="actor" />
    <result column="description" property="description" />
    <result column="downloadUrl" property="downloadurl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
    releaseDate, score, duration, director, actor, description, downloadUrl
  </sql>
  <update id="updateBatch" parameterType="java.util.List">
    update esMovie
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.name}
        </foreach>
      </trim>
      <trim prefix="coverUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.coverurl}
        </foreach>
      </trim>
      <trim prefix="screenshot = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.screenshot}
        </foreach>
      </trim>
      <trim prefix="translatedName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.translatedname}
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.title}
        </foreach>
      </trim>
      <trim prefix="`year` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.year}
        </foreach>
      </trim>
      <trim prefix="origin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.origin}
        </foreach>
      </trim>
      <trim prefix="category = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.category}
        </foreach>
      </trim>
      <trim prefix="releaseDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.releasedate}
        </foreach>
      </trim>
      <trim prefix="score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.score}
        </foreach>
      </trim>
      <trim prefix="duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.duration}
        </foreach>
      </trim>
      <trim prefix="director = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.director}
        </foreach>
      </trim>
      <trim prefix="actor = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.actor}
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.description}
        </foreach>
      </trim>
      <trim prefix="downloadUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          when id = #{item.id} then #{item.downloadurl}
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    update esMovie
    <trim prefix="set" suffixOverrides=",">
      <trim prefix="`name` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.name != null">
            when id = #{item.id} then #{item.name}
          </if>
        </foreach>
      </trim>
      <trim prefix="coverUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.coverurl != null">
            when id = #{item.id} then #{item.coverurl}
          </if>
        </foreach>
      </trim>
      <trim prefix="screenshot = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.screenshot != null">
            when id = #{item.id} then #{item.screenshot}
          </if>
        </foreach>
      </trim>
      <trim prefix="translatedName = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.translatedname != null">
            when id = #{item.id} then #{item.translatedname}
          </if>
        </foreach>
      </trim>
      <trim prefix="title = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.title != null">
            when id = #{item.id} then #{item.title}
          </if>
        </foreach>
      </trim>
      <trim prefix="`year` = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.year != null">
            when id = #{item.id} then #{item.year}
          </if>
        </foreach>
      </trim>
      <trim prefix="origin = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.origin != null">
            when id = #{item.id} then #{item.origin}
          </if>
        </foreach>
      </trim>
      <trim prefix="category = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.category != null">
            when id = #{item.id} then #{item.category}
          </if>
        </foreach>
      </trim>
      <trim prefix="releaseDate = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.releasedate != null">
            when id = #{item.id} then #{item.releasedate}
          </if>
        </foreach>
      </trim>
      <trim prefix="score = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.score != null">
            when id = #{item.id} then #{item.score}
          </if>
        </foreach>
      </trim>
      <trim prefix="duration = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.duration != null">
            when id = #{item.id} then #{item.duration}
          </if>
        </foreach>
      </trim>
      <trim prefix="director = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.director != null">
            when id = #{item.id} then #{item.director}
          </if>
        </foreach>
      </trim>
      <trim prefix="actor = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.actor != null">
            when id = #{item.id} then #{item.actor}
          </if>
        </foreach>
      </trim>
      <trim prefix="description = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.description != null">
            when id = #{item.id} then #{item.description}
          </if>
        </foreach>
      </trim>
      <trim prefix="downloadUrl = case" suffix="end,">
        <foreach collection="list" index="index" item="item">
          <if test="item.downloadurl != null">
            when id = #{item.id} then #{item.downloadurl}
          </if>
        </foreach>
      </trim>
    </trim>
    where id in
    <foreach close=")" collection="list" item="item" open="(" separator=", ">
      #{item.id}
    </foreach>
  </update>
  <insert id="batchInsert" parameterType="map">
    insert into esMovie
    (id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
      releaseDate, score, duration, director, actor, description, downloadUrl)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.id}, #{item.name}, #{item.coverurl}, #{item.screenshot}, #{item.translatedname}, 
        #{item.title}, #{item.year}, #{item.origin}, #{item.category}, #{item.releasedate}, 
        #{item.score}, #{item.duration}, #{item.director}, #{item.actor}, #{item.description}, 
        #{item.downloadurl})
    </foreach>
  </insert>
  <insert id="insertOrUpdate" parameterType="cn.mirrorming.blog.domain.po.Movie">
    insert into esMovie
    (id, `name`, coverUrl, screenshot, translatedName, title, `year`, origin, category, 
      releaseDate, score, duration, director, actor, description, downloadUrl)
    values
    (#{id}, #{name}, #{coverurl}, #{screenshot}, #{translatedname}, #{title}, #{year}, 
      #{origin}, #{category}, #{releasedate}, #{score}, #{duration}, #{director}, #{actor}, 
      #{description}, #{downloadurl})
    on duplicate key update 
    id = #{id}, 
    `name` = #{name}, 
    coverUrl = #{coverurl}, 
    screenshot = #{screenshot}, 
    translatedName = #{translatedname}, 
    title = #{title}, 
    `year` = #{year}, 
    origin = #{origin}, 
    category = #{category}, 
    releaseDate = #{releasedate}, 
    score = #{score}, 
    duration = #{duration}, 
    director = #{director}, 
    actor = #{actor}, 
    description = #{description}, 
    downloadUrl = #{downloadurl}
  </insert>
  <insert id="insertOrUpdateSelective" parameterType="cn.mirrorming.blog.domain.po.Movie">
    insert into esMovie
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="coverurl != null">
        coverUrl,
      </if>
      <if test="screenshot != null">
        screenshot,
      </if>
      <if test="translatedname != null">
        translatedName,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="year != null">
        `year`,
      </if>
      <if test="origin != null">
        origin,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="releasedate != null">
        releaseDate,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="duration != null">
        duration,
      </if>
      <if test="director != null">
        director,
      </if>
      <if test="actor != null">
        actor,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="downloadurl != null">
        downloadUrl,
      </if>
    </trim>
    values
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id},
      </if>
      <if test="name != null">
        #{name},
      </if>
      <if test="coverurl != null">
        #{coverurl},
      </if>
      <if test="screenshot != null">
        #{screenshot},
      </if>
      <if test="translatedname != null">
        #{translatedname},
      </if>
      <if test="title != null">
        #{title},
      </if>
      <if test="year != null">
        #{year},
      </if>
      <if test="origin != null">
        #{origin},
      </if>
      <if test="category != null">
        #{category},
      </if>
      <if test="releasedate != null">
        #{releasedate},
      </if>
      <if test="score != null">
        #{score},
      </if>
      <if test="duration != null">
        #{duration},
      </if>
      <if test="director != null">
        #{director},
      </if>
      <if test="actor != null">
        #{actor},
      </if>
      <if test="description != null">
        #{description},
      </if>
      <if test="downloadurl != null">
        #{downloadurl},
      </if>
    </trim>
    on duplicate key update 
    <trim suffixOverrides=",">
      <if test="id != null">
        id = #{id},
      </if>
      <if test="name != null">
        `name` = #{name},
      </if>
      <if test="coverurl != null">
        coverUrl = #{coverurl},
      </if>
      <if test="screenshot != null">
        screenshot = #{screenshot},
      </if>
      <if test="translatedname != null">
        translatedName = #{translatedname},
      </if>
      <if test="title != null">
        title = #{title},
      </if>
      <if test="year != null">
        `year` = #{year},
      </if>
      <if test="origin != null">
        origin = #{origin},
      </if>
      <if test="category != null">
        category = #{category},
      </if>
      <if test="releasedate != null">
        releaseDate = #{releasedate},
      </if>
      <if test="score != null">
        score = #{score},
      </if>
      <if test="duration != null">
        duration = #{duration},
      </if>
      <if test="director != null">
        director = #{director},
      </if>
      <if test="actor != null">
        actor = #{actor},
      </if>
      <if test="description != null">
        description = #{description},
      </if>
      <if test="downloadurl != null">
        downloadUrl = #{downloadurl},
      </if>
    </trim>
  </insert>
</mapper>